
body {
      -webkit-animation: colorchange 5s ease infinite;
    }


    @-webkit-keyframes colorchange
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: orange;}
      75%  {background: pink;}
      100% {background: red;}
    }


div.blueTable {
  background-color:black;
  width: 300px;
  height: 300px;
  text-align: center;
  /*border-collapse: collapse;*/
  margin: 50px auto;
}


.score {
/*padding-top: 40px;*/
height: 100px;
left: auto;
display: flex;
}

.xwin {
  margin: auto;
  display: flex;
  font-size: 50px;
  font-family: monospace;

}

.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
  border: 1px solid #ffffff;
  width: 97px;
  height: 97px;
  margin-top: 100px;
 text-align: center;
 margin: auto;
 font-size: 50px;
 font-family: monospace;
}
.divTable.blueTable .divTableBody .divTableCell {
  /*padding-top: 50px;*/
  font-size: 50px;
  color: #ffffff;
  /*text-align: center;*/
  margin: 50px auto;
  font-size: 80px;
  font-family: monospace;

}

.divTable.blueTable .divTableRow:nth-child(even) {
  background: black;
}

.divTable.blueTable .divTableCell:nth-child(even) {
  background: black;
}

.blueTable.outerTableFooter .tableFootStyle {
  padding: none;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}
