
body {
      -webkit-animation: colorchange 5s ease infinite;
    }


    @-webkit-keyframes colorchange
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: orange;}
      75%  {background: pink;}
      100% {background: red;}
    }


div.blueTable {
  background-color:black;
  width: 300px;
  height: 300px;
  text-align: center;
  /*border-collapse: collapse;*/
  margin: 50px auto;
}

 button {
   width: 80px;
   height: 30px;
   margin: auto;
   position: relative;
   left:auto;
 }

.score {
/*padding-top: 40px;*/
height: 100px;
/*left: auto;*/
display: flex;
}

.xwin {
  margin: auto;
  display: flex;
  font-size: 50px;
  font-family: monospace;

}

.button {
width: 400px;
/*height: 100px;*/
margin: auto;
display: flex;}


.btn {
  margin: auto;
  width: 100px;
  height: 40px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 30px;
  font-family: Courier New;
  font-size: 16px;
  color: #ffffff;
  padding: 2px 20px 10px 20px;
  text-decoration: none;
  text-align: center;

}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.btn2 {
  width: 100px;
  height: 40px;
  background: #6bd934;
  background-image: -webkit-linear-gradient(top, #6bd934, #1d632b);
  background-image: -moz-linear-gradient(top, #6bd934, #1d632b);
  background-image: -ms-linear-gradient(top, #6bd934, #1d632b);
  background-image: -o-linear-gradient(top, #6bd934, #1d632b);
  background-image: linear-gradient(to bottom, #6bd934, #1d632b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 30px;
  font-family: Courier New;
  font-size: 16px;
  color: #ffffff;
  padding: 8px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  position: relative;

}

.btn2:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
  border: 1px solid #ffffff;
  width: 97px;
  height: 97px;
  margin-top: 100px;
 text-align: center;
 margin: auto;
 font-size: 50px;
 font-family: monospace;
}
.divTable.blueTable .divTableBody .divTableCell {
  /*padding-top: 50px;*/
  font-size: 50px;
  color: #ffffff;
  /*text-align: center;*/
  margin: 50px auto;
  font-size: 80px;
  font-family: monospace;

}

.divTable.blueTable .divTableRow:nth-child(even) {
  background: black;
}

.divTable.blueTable .divTableCell:nth-child(even) {
  background: black;
}

.blueTable.outerTableFooter .tableFootStyle {
  padding: none;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}
